extends ../_component/layout/template

block cool-config
  -
    var myTitle ='About Home Garden Design';
    var myDescription ='Who we are,What we do and which is our goals?';
    var landingPage = 'About us';
    var activeLink = '';

block primary-content
  h1=myTitle
  p=myDescription
  h6 Few words About Home Garden Design
  p Home Garde Design have over 5 years experience in garden design, and garden landscaping for clients across The hole World,We enjoy projects of all sizes, from a 'postage stamp', to a sprawling family estate, from flat and wide to steep and narrow, wet and boggy or dry and sandy, from the whole garden or just that little awkward corner that you just do not know what to do with, it's the diversity and scope that makes us at Home Garden Design love our work. From the first meeting to the final sign-off we make sure your garden is our top priority! We are specialists in brickwork, stonework, woodwork, pool and water features and of course we have our very own nursery at Whitlenge Gardens so that we can undertake all the soft landscaping ourselves, all in house. So you don't have to go to one firm to draw up your plan, then another firm to build the garden then yet another to plant it, we at Home Garden Design can undertake the whole project from start to finish. We can transform your garden within quoted budgets, without you/us needing to rely on sub-contractors, this means we can make sure you get your beautiful new garden on time and on budget.


  h7 Get more information right now by completing our enquiry form or call us on ************ now.