extends ../_component/layout/template

block cool-config
  -
    var myTitle ='Great ideas comes with us';
    var myDescription ='Transform your backyard or front yard design with these ideas, tips and projects';
    var landingPage = 'Landscape Design';
    var activeLink = '';

block primary-content
  h1=myTitle
  p=myDescription
  h6 LANDSCAPE DESIGN
  p Updating your home’s landscaping is a great way to increase the value of your property and create outdoor spaces for relaxing and entertaining. Whether you want to focus on your front yard, backyard or entire piece of land, there are many interesting options to consider. In the backyard you can create a space for entertaining friends and family complete with an outdoor kitchen, fire feature, pool and more, or you could create a lush garden that attracts wildlife and allows you to relax and reflect. In the front yard you could amp up curb appeal with a beautiful walkway or you could tear up your lawn in favor of an eco-friendly garden. Use the information below to start determining what you want in your new landscape.
  h6 Front Yard Landscape Ideas
  p Make your neighbors jealous by creating a front yard landscape that’s both beautiful and welcoming:
  h6 Backyard Landscape Ideas
  p Embrace the indoor-outdoor lifestyle by transforming your backyard into a comfortable retreat with these landscaping ideas:
