doctype html
html
  head
    title Welcome to our page
    meta(name ="Garden Design", content ="This is a HTML for everyone who wants to build an awesome Garden")
    link(rel="stylesheet", href="style.css")
  body
    header
      a(href="/") Home
      a(href="/Landscape Design") Landscape Design
      a(href="/Gallery") Gallery
      a(href="/About us") About us

    nav
      h1 Home Garde Designs
      a(href="/Projects") Projects
      a(href="/Flowers") Flowers
      a(href="/Shade Gardens") Shade Gardens

      article 
        h3 How to build your own Garden
        p You can start search on our Website and Facebook page for awesome garden design ideas  #[a(href="/How to build your own Garden") Check it out!]
        h3 How-to Garden
        p Learn how to plant and care for vegetables, flowers and more, even if you're a beginning gardener  #[a(href="/How to Garden") Learn to Plant for Begginers!]
        h3 Front Yard Landscape Ideas
        p Increase the curb appeal of your front garden to provide a warm welcome for guests  #[a(href="/Landscape Ideas") See How to do it!]
        h3 Garden Design Ideas Home
        p From our garden to yours, we share ideas from around the world for designing gardens big and small  #[a(href="/Garden Design Ideas for your Home") Look up!]
        h3 Small Gardens
        p See how gardeners around the country have created wonderful gardens in small spaces  #[a(href="/Small Gardens") Gardens in small spaces!]

        footer  Copyright 2018. All Rights Reserved. Reproduction in whole or in part without permission is prohibited.