:root{
  --color-blue: #190CED
  --color-black: #222
  --color-white: #fff
  --color-black: #000 
  --color-pomegranate: #F62C36
}

html,body{
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 50px 1fr 50px;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  grid-column: 1/3;
  grid-row: 1/2;
}

nav{
  grid-column: 1/2;
  grid-row: 2/3;
}

article{
  grid-column: 2/3;
  grid-row: 2/3;
}

header,
footer{
  background-color: var(--color-black);
}

footer{
  grid-column: 2/3;
  grid-row: 3/4;
}

nav{
  background-color:var(--color-white);
}